<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <div class="wrapper">
        <div class="userInfo">
            <form classs="survey" action="/users" method="post">
                Your Name: <input type="text" name="name">
                <div class="dojo">
                  Dojo Location: <select class="" name="location">
                    <option value="Berkley">Berkley</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Orange County">Orange County</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Silicon Valley">Silicon Valley</option>
                    <option value="Washington D.C.">Washington D.C.</option>
                  </select>
                </div>
                <div class="lang">
                  Favorite Language<select class="" name="language">
                    <option value="Javascript">Javascript</option>
                    <option value="Python">Python</option>
                    <option value="Flask">Flask</option>
                    <option value="Django">Django</option>
                    <option value="Swift">Swift</option>
                    <option value="German">German</option>
                    <option value="French">French</option>
                  </select>
                </div>
                <div class="cmnts">
                  <!-- Comments:<input type="text" name="comm" value=""> -->
                  Comments:<textarea name="comments" rows="4" cols="40"></textarea>

                </div>

                <input class="button" type="submit" value="create user">
        </div>
    </div>
</body>

</html>
