<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas are Real</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
  </head>
  <body>
    <p>Ninjas are real.
    They were black outfits that consist of a gui, a balaklava, and special boots that separate the big toe from the reast of the toes.
    The carry an assortment of weapons like:</p>
    <ul>
      <li>Kitanas</li>
      <li>Shurikens</li>
      <li>Blowguns</li>
      <li>1400lbs grizzly bears</li>
      <li>portable mini-gun with unlimited ammo</li>
    </ul>
    <p>Ninjas love honey and pink teddy bears, and only pink teddy bears. Any other color teddy bear is burned in a ceremonial fire before their next mission.</p>
    <p>Finally, just like the superbowl, they don't take American Express.</p>
  </body>
</html>
