*{
padding: 0px;
margin: 0px;
font-family: sans-serif;
font-size: 14px;
}
.wrapper {
  margin: 0px auto;
  padding: 20px;
  background-color: #999999;
  width: 300px;
}
.userInfo {
background-color: white;
display: block;
padding: 10px;
background-color: #eeeeee;
}
.survey {
  margin-top: 10px;
}
.dojo {
  margin-top: 10px;
}
.lang {
  margin-top: 5px;
}
.button {
  margin-top: 40px;
}
.cmnts{
  /*margin-bottom: 10px;*/
  margin-top: 10px;
  height: 50px;
}
textarea{
  resize: none;
}
