<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Test Index</title>
  </head>
  <body>
    <h1>Index Page</h1>
    <h3>Create a User</h3>
    <form action="/users" method="post">
      <!--action reflects the @app.route and must match
        method is either GET or POST, Get is unsecured and POST is secured.-->
      Name: <input type="text" name="name">
      Email: <input type="text" name="email">
      <input type="submit" value="create user">
    </form>
  </body>
</html>
