<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" tpye="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <title>Friends</title>
  </head>
  <body>
    <div class="wrapper">


    <!-- the lines below can be used to see all of the data in the template -->
    <!-- {{ all_friends}} -->
    <h1>These are all my friends!</h1>
    <!-- With all the data, a more structed output can be created -->
    {% for friend in all_friends: %}
    <!-- <p>ID: {{ friend['id']}}</p> -->
    <p>First Name: {{ friend['first_name']}}</p>
    <p>Last Name: {{ friend['last_name']}}</p>
    <p>Email: {{ friend['email']}}</p>
    <!-- <form class="" action="/friend/{{ friend['id'] }}/edit" >
      <input type="Submit" name="" value="Edit"> -->
    <a href="/friend/{{ friend['id'] }}/edit"><button type="button" name="edit">Edit</button></a>
    </form>
    <form class="" action="/friend/{{ friend['id'] }}/delete" method="post">
      <input type="Submit" name="" value="Delete">
    </form>
    <hr>
    {% endfor %}
    <!-- <p>First Name: Jimmy</p>
    <p>Last Name: Jun</p>
    <p>Occupation: Instructor</p>
    <hr>
    <h2>Add a Friend</h2> -->
    <form action='/friends' method='POST'>
      <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label><p></p>
      <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label><p></p>
      <label for="email">Email:<input type="text" name="email" id="email"></label><p></p>
      <input type="submit" value="Add Friend">
    </form>
    </div>
  </body>
</html>
